/* CSS Document - Header */

/* General Formatting */
.content {
    margin:0 auto;
}

/* Header */
.name {
    background-color: lightskyblue;
    padding: .5%;
}

.name h1 {
    text-align: center;
    text-overflow: ellipsis;
    font-size: 325%;
}

.menu {
    background-color: lightblue;
    overflow: hidden;
    margin-bottom: 2%;
}

.menu a {
    float: left;
    display: block;
    background-color: lightblue;
    color: black;
    text-align: center;
    padding: .5%;
    font-size: 175%;
    text-decoration: none;
}

.menu a:hover {
    background-color: aliceblue;
    color: black;
}

.menu img {
    float: right;
}
.menu .github_picture {
    float:right;
}

.menu .linkedin_picture {
    float:right
}

.menu .linkedin_picture img {
    width: 32px;
    height: 32px;
}