/* CSS Document - Header */

/* Header */
.header {
    margin: 0px;
}

.name {
    background-color: lightskyblue;
    padding: .5%;
}

.name h1 {
    font-size: 325%;
    text-align: center;
    text-overflow: ellipsis;
}

.menu {
    background-color: lightblue;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    margin-bottom: 2%;
    overflow: hidden;
}

.menu a {
    background-color: lightblue;
    color: black;
    display: block;
    float: left;
    font-size: 175%;
    padding: .5%;
    text-align: center;
    text-decoration: none;
}

.menu a:hover {
    background-color: aliceblue;
    color: black;
}

.menu img {
    float: right;
}
.menu .github_picture {
    float:right;
}

.menu .linkedin_picture {
    float:right
}

.menu .linkedin_picture img {
    height: 32px;
    width: 32px;
}