/* CSS Document - about_me */

/* About Me Section */
.about_me table {
    margin-left: auto;
    margin-right: auto;
}

.about_me th {
    font-family: 'Courier New', Courier, monospace;
    font-size: 200%;
}

.about_me td {
    border-collapse: collapse;
    border-spacing: 0px;
}

.about_me img {
    float: left;
    height: 400px;
    width: 300px;
}

.about_cell {
    border: 1px solid black;
}

.about_text {
    font-family: sans-serif;
    font-size: 110%;
    margin: 1%;
}

/* Skills Section */
.skills {
    text-align: center;
}

.skills table {
    border-collapse: collapse;
    border-spacing: 0px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.skills th {
    font-family: 'Courier New', Courier, monospace;
    font-size: 200%;
    padding: 10px;
}

.skills td {
    border: 1px solid black;
}

.skills img {
    height: 128px;
    margin: 10px;
    width: 128px;
}

.skills p {
    font-family: sans-serif;
    font-size: 110%;
    margin: 10px;
    text-align: center;
}

.skills h1 {
    color: navy;
    font-family: 'Courier New', Courier, monospace;
    font-size: 300%;
    margin: 10px;
}

.skills h2 {
    color: salmon;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 0px;
    margin-top: 0px;
}

.menu .menu_aboutme {
    background-color: lightcyan;
}

.menu .menu_aboutme:hover {
    background-color: lightcyan;
}