/* CSS Document - Certifications */

.menu .menu_certifications {
    background-color: lightcyan;
}

.menu .menu_certifications:hover {
    background-color: lightcyan;
}

.certifications table {
    border-collapse: collapse;
    border-spacing: 0px;
    border-left: none;
    margin-top: 1%;
    margin-left: 1%;
}

.certifications th {
    border-left: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 200%;
    padding: 10px;
    text-align: left;
}

.certifications tr {
    margin-left: 10px;
    border-left: 1px solid black;
}

.certifications td {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 110%;
    margin-left: 10px;
    padding: 10px;
    text-align: left;
}

.certifications img {
    height: 300px;
    width: 300px;
}

.certifications a {
    color: blue;
    text-decoration: none;
}

.certifications a img {
    height: 32px;
    width: 32px;
}

.certifications h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
}

.certifications h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
}

.certifications h4 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
}

.certifications ul {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
}

