/* CSS Document - Projects */

.menu .menu_projects {
    background-color: lightcyan;
}

.menu .menu_projects:hover {
    background-color: lightcyan;
}

.projects table {
    border-collapse: collapse;
    border-spacing: 0px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
}

.projects th {
    border: 1px solid black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 200%;
    padding: 10px;
}

.projects td {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 110%;
    padding: 10px;
    text-align: center;
    width: 500px;
}

.projects img {
    height: 300px;
    width: 300px;
}

.projects a {
    color: blue;
    text-decoration: none;
}

.projects a img {
    height: 32px;
    width: 32px;
}

.projects h3 {
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
}

.projects ul {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
}